<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.demo.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.zl.demo.entity.Role">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
        <result column="updatedtime" jdbcType="TIMESTAMP" property="updatedtime" />
        <result column="deleteflag" jdbcType="INTEGER" property="deleteflag" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <sql id="Base_Column_List">
    id, createdtime, deleteflag, updatedtime, name
    </sql>


    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_role
        WHERE deleteflag = 0
        <if test="userId != null">
            and id IN ( SELECT role_id FROM t_user_role WHERE user_id = #{userId} )
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
    </select>

</mapper>